.notes-list {
    padding: 0 16px;
}

.note-item {
    margin-bottom: 16px;
    padding: 12px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0px 4px 16px 0px #00000012;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-btn {
    border: none;
    background-color: #fff;
}

.note-body {
    margin: 12px 0;
}